include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml
recursive-include berryql *.py
recursive-include tests *.py
recursive-include examples *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.orig
